

// ++++++++++ Footer
  .wrapper-link-course{
    
    text-decoration: none;
    color: #000000;
    cursor: default;
  
  } 

  .field--name-field-teachers{
    margin-bottom: 10px;
  }

  .field--name-field-teachers .field__items .field__item a{
    color: #000000;
    text-decoration: none;
  }
  .field--name-field-teachers .field__items .field__item a:hover{
    color: #CF2035;
  }