

// ++++++++++ Faculty Page

.view[class*="page"] .views-row:not(:last-child), .view[class*="search"] .views-row:not(:last-child){
  border-bottom: none;
}


    .resource-page{
      margin-bottom: 10px;
    }

    .resource-page-container {
      .resource-page{
        padding-bottom: 0;
        margin-bottom: 10px;
      }
    }



