

// ++++++++++ Footer
  #footer-first{
    padding-bottom: rem(0.3);
    
  
  }


  #footer-second{
    background-color: #CF2035;
  }

  @media (min-width: 768px){

    #footer-first{

    .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  }

