

// ++++++++++ Course Page

.course-page .views-row{
  .node--type-course.node--view-mode-square{
    height: 100%;
  
  
      .wrapper-link-course{
        display: block;
        height: 100%;
        border: 1px solid $grey-light;
        padding: rem(30);
        border-radius: rem(8);
        overflow: hidden;
        color: $black;
        text-decoration: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        
        
        &hover, &focus{
          @include z-depth-1;
        }
      }
  
      .field--name-field-course-image{
        margin-left: - rem(30);
        margin-right: - rem(30);
        margin-top: - rem(30);
      }
  
      h2{
        font-size: rem(16);
        line-height: rem(26);
        margin-top: rem(30);
  
      }
  
  
  }
}

 
