

// ++++++++++ Footer
  #block-northern-theme-copyright{
    
    .clearfix{
      text-align: center;
      color:  #E5E5E5;
    }

    .clearfix p a{
      color:  #E5E5E5;
      text-decoration: none;
    }
  
  }


  @media (min-width: 768px){
    #block-northern-theme-copyright{
    .clearfix{
      text-align: right;
    }
  }
  }

